.row
  .large-6.columns
    #map-canvas style="height:500px"

  .large-6.columns
    = form_for [:dashboard, @place] do |f|

      - if @place.errors.any?
        #error_explanation
          h2
            = pluralize(@place.errors.count, "error") 
            | prohibited this place from being saved:
          
          ul
            - @place.errors.full_messages.each do |msg|
              li = msg

      p
        = f.label :name
        = f.text_field :name

      p
        = f.label :full_address
        = f.text_area :full_address

      p
        = f.label :latitude
        = f.text_field :latitude

      p
        = f.label :longitude
        = f.text_field :longitude

      p
        button type="submit" Submit
        | &nbsp;
        button#reset-position Reset Position


    p = link_to 'Back', dashboard_places_path
