h1 My Places

p = link_to "Add Place", new_dashboard_place_path

table cellpadding="6"
  - @places.each do |place|
    tr
      td = place.name
      td = link_to "View", dashboard_place_path(place)
      td = link_to "Edit", edit_dashboard_place_path(place)
      td = link_to "Delete", dashboard_place_path(place), method: :delete, data: { confirm: 'Are you sure ?' }

