<h1><%= @place.name %></h1>
<p><%= @place.full_address %></p>

<style>
#map-canvas { 
  float: left;
  margin-right: 20px;
  width: 500px;
  height: 600px; 
}
</style>

<div id="map-canvas"></div>

<h2>Nearby Places from Your Location</h2>
<ul>
<% @place.nearbys(100, units: :km).each do |place| %>
  <li><%= link_to place.name, place_path(place) %> (<%= place.distance.round(2) %> km)</li>
<% end %>
</ul>

<p><%= link_to 'Back', places_path %></p>

<script>
function showMarker(position, title) {
  marker = new google.maps.Marker({
    position: position,
    map: map,
    draggable: true,
    title: title
  });

  map.setCenter(position);

  google.maps.event.addListener(marker, 'dragend', function() {
    marker.setMap(null);
    getAddress(marker.getPosition().lat(), marker.getPosition().lng());
  });
}

function reinitialize() {
  position = new google.maps.LatLng(<%= @place.latitude %>, <%= @place.longitude %>);
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  showMarker(position, 'Current Address');
}

loadScript = function() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
    'callback=reinitialize';
    
  document.body.appendChild(script);
}

$(document).ready(loadScript);
</script>

