<style>
  #map-canvas { height: 400px; }
</style>

LATITUDE = <span id="latitude"latitude></span><br/>
LONGITUDE = <span id="longitude"></span><br/>
ADDRESS = <span id="address"></span>
<span id="change-address">
  <a href="<%= relocations_path %>">Change Address</a>
</span>

<h2>Nearby</h2>
<div id="nearby-container"></div>
