html, body {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#map-canvas {
  img { max-width: none; }
}

#change-address {
  cursor: pointer;
  margin-left: 10px;
  background: #eee;
  padding: 3px 5px;
}
