<%= link_to 'Add New Place', new_place_path %>

<table cellpadding="6">
  <% @places.each do |place| %>
    <tr>
      <td><%= place.name %></td>
      <td><%= link_to 'Show', place_path(place) %></td>
      <td><%= link_to 'Edit', edit_place_path(place) %></td>
      <td><%= link_to 'Delete', place_path(place), method: :delete, data: { confirm: 'Are you sure' } %></td>
    </tr>
  <% end %>
</table>
