doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"

    title == content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&language=id&region=id" type="text/javascript"
    = csrf_meta_tag

  body
    nav.top-bar data-topbar="" 
      ul.title-area
        li.name
          h1 = link_to "Berobat Di Mana", root_path
        li.toggle-topbar.menu-icon
          a href="#" 
            span menu
      section.top-bar-section
        ul.right
          - if user_signed_in?
            li.divider
            li.has-dropdown
              a href="#" Welcome
              ul.dropdown
                li
                  label Dashboard
                li = link_to "My Places", dashboard_places_path
                li.divider
                li
                  label Settings
                li = link_to "Profile", edit_user_registration_path
                li = link_to "Change Password", edit_user_password_path
            li.divider
            li = link_to 'Logout', destroy_user_session_path, method: :delete
          
          - else
            li.divider
            li = link_to 'Register', new_user_registration_path
            li.divider
            li = link_to 'Login', new_user_session_path

    .row
      == yield

    footer.row
      .large-12.columns
        hr/
        .row
          .large-6.columns
            p &copy; Copyright no one at all. Go to town.
          .large-6.small-12.columns
            ul.inline-list.right
              li
                a href="#"  Link 1
              li
                a href="#"  Link 2
              li
                a href="#"  Link 3
              li
                a href="#"  Link 4

    = javascript_include_tag "application"

    script type='text/javascript'
      = javascript_initializer
